
nav.theme-dark, nav.theme-dark ul.links-wrapper.active { background-color: #222831 }

header.theme-dark   { background-color: var(--gray-800) }

header.theme-dark  h1 { color: #00ADB5; }

section.theme-dark   { background-color: var(--gray-800) }

footer.theme-dark   { background-color: #222831 }



header .col-text h2, .col-1 > h3 { line-height: 1.8 }

* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.hidden{
    visibility: hidden;
}

.container-btn a.btn:nth-child(1)
{
    color:white;
    background-color: #00ADB5;
    border-color: #00ADB5;
}

.container-btn a.btn:nth-child(2)
{
    color:#00ADB5;
    border-color: #00ADB5;
}


 .container-btn a.btn:nth-child(1):hover {
	background-color: transparent;
	color: #00ADB5;
}

 .container-btn a.btn:nth-child(1):link {
	border-color: #00ADB5;
}

.container-btn a.btn:nth-child(2):hover{
	color: white;
}

.container-btn a.btn:nth-child(2):link {
	border-color: #00ADB5;
}

 .container-btn a.btn:nth-child(2):hover {
	background-color: #00ADB5;
}

.btn-solid:link {
	color: var(--white-000);
	background-color: var(--black-000);
	border-color: var(--black-000);
}

@media (min-width: 768px) {
    .logo-main{
		width:25%;
	}
}

@media (max-width: 768px) {
    .logo-main{
		width:60%;
	}
}