/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    text-align: center;
    background-color: #393E46;
    color: whitesmoke;
}

h1 {
    font-size: 78px;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
    color: whitesmoke;
}

h2 {
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    margin-bottom: 16px;
}


nav {
    background: #222831;
}

.nav-links ul li {
    display: inline-block;
    padding: 15px 15px;
}

.nav-links ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}