/* layers */
@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 768px) {
    .logo-main {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .logo-main {
        width: 60%;
    }
}

@font-face {
    font-family: 'Anta';
    src: url('./assets/fonts/Anta-Regular.otf') format('opentype');
}

.main-img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
}

.items-center h2 {
    font-size: 45px;
    font-weight: 600;
}

.items-center h3 {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    color: #B0BEC5;
}