/* Do not delete this */
.section-selector-1 { background-color: var(--gray-200) }
.col-3 h3 { margin-bottom: 16px }

/* Add your custom CSS below */
header.theme-light h1 span.highlight { color: var(--green-500) }

header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

header h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}